.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Add consistent spacing */
    max-width: 1300px;
    /* Constrain grid width */
    margin: 0 auto;
    /* Center align the grid */
  }
  
  .card {
    width: 320px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  .cardImage {
    position: absolute;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    transition: filter 0.2s ease-in-out;
    z-index: 1;
  }
  
  .cardContent {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
    padding: 50px;
    backdrop-filter: blur(10px);
  }
  
  .card:hover .cardTitle,
  .card:hover .cardContent {
    opacity: 1; /* Text becomes visible on hover */
  }
  
  .card:hover > .cardImage {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
  }
  
  @keyframes anim {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .card:hover {
    transform: scale(1.04) rotate(-1deg);
  }
  
  @media (max-width: 800px) {
    .grid {
      grid-template-columns: repeat(1, 1fr); /* Single column layout on smaller screens */
    }
    .card {
      max-width: 100%; /* Expand card width for smaller screens */
    }
  }